<% layout('layout') -%>
      <!-- Content Wrapper. Contains page content -->
      <div class = "content-wrapper">
        <!-- Content Header (page header) -->
        <section class="content-header">
          <h1>
	    Course
	    <small>Timetable</small>
	  </h1>
	  <ol class="breadcrumb">
	    <li><a href"/"><i class="fa fa-laptop"></i> Home</a></li>
	    <li class="active">Course</li>
	  </ol>
	</section>

        <!-- Main content -->
          <section class="content">
            <div class="row">
              <div class="col-xs-12">
	        <div class="box">
		  <div class="box-header">
                    <h3 class="box-title">Time Table</h3>
                  </div><!-- /.box-header -->
		  <div class="box-body">
                    <table class="table table-bordered table-striped">
		      <thead>
                        <tr>
                          <th>CourseCODE</th>
                          <th>CourseName</th>
                          <th>DepartmentName</th>
                          <th>Location</th>
			  <th>Day</th>
                          <th>StartTime</th>
			  <th>EndTime</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% object0.forEach(function (item, index) { %>
                        <tr>
                          <td><%= item.COU_CODE %></td>
                          <td><%= item.COU_NAME %></td>
                          <td><%= item.DEP_NAME %></td>
                          <td><%= item.LOC_NAME %></td>
                          <td><%= item.COU_DAY %></td>
                          <td><%= item.COU_ST %></td>
                          <td><%= item.COU_EN %></td>
                          <td><a href = "/management/course/delete/<%= item.COU_CODE %>">DEL</a><td>
                        </tr>
                        <% })%>
                      </tbody>
		    </table>
		  </div>
                </div><!-- /.col -->
	      </div>
              <div class="col-md-12"><!-- general form elements -->
                <div class="box">
                  <div class="box-header with-border">
                    <h3 class="box-title">Add Course</h3>
                  </div><!-- /.box-header -->
                  <!-- form start -->
                  <form id="frmCourse" action="/management/course/insert" method="POST" >
                  <div class="box-body">
                    <div class="form-group">
                      <label for="exampleInputPassword1">Code</label>
                      <input name="CODE" maxlength=9 type="text" class="form-control" placeholder="Course Code">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Name</label>
                      <input name="NAME" maxlength=20 type="text" class="form-control" placeholder="Course Name">
                    </div> 
                    <div class="form-group">
                      <label>Department</label>
                      <select name="DEP" class="form-control select2" style="width: 100%;">
                        <option selected="selected">--------</option>
                        <% object1.forEach(function (item, index) { %>
                        <option><%= item.NAME %></option>
                        <% }); %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Location</label>
                      <select name="LOC" class="form-control select2" style="width: 100%;">
                        <option selected="selected">--------</option>
                        <% object2.forEach(function (item, index) { %>
                        <option><%= item.NAME %></option>
                        <% }); %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Day</label>
                      <select name="DAY" class="form-control select2" style="width: 100%;">
                        <option selected="selected">--------</option>
                        <% for( i = 1; i < 9; i++) { %>
                        <option><%= i %></option>
                        <% } %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>StartTime</label>
                      <select name="ST" class="form-control select2" style="width: 100%;">
                        <option selected="selected">--------</option>
                        <% for( j = 1; j < 9; j++) { %>
                        <option><%= "0"+j %></option>
                        <% } %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>EndTimet</label>
                      <select name="ET" class="form-control select2" style="width: 100%;">
                        <option selected="selected">--------</option>
                        <% for( k = 1; k < 9; k++) { %>
                        <option><%= "0"+k %></option>
                        <% } %>
                      </select>
                    </div>
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <input type="submit" class="btn btn-primary"></input>
                    <button type="cancel" class="btn btn-danger">cancel</button>
                  </div>
                </form>
              </div><!-- /.box -->
            </div><!-- /.row -->
          </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
